#div{
    border-radius: 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#header
{
    border-radius: 5px;
}
#body
{
    background:grey;
}
#head
{
    background-color: grey;
}
#Contenedor
{
    border-radius: 5px;
    display: flex;
    text-align: center;
    justify-content: space-around;
    background: content-box;
    background-color: rgba(33, 14, 238, 0.566);
    
}
.contenido
{
    text-align: center;
    text-overflow: inherit;
    height:80px;
    width:10%;
    float:left;
    margin: 100px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#Btn
{
    border-radius: 5px;
    background-color: rgb(79, 247, 199);
    color: grey;
    border: none;
    cursor: pointer;
    padding: 0;
    font-weight: 1000;
    display: inline-block;
    font-size: medium;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    white-space: nowrap;
    vertical-align: middle;
}
#Btn1
{
    border-radius: 5px;
    background-color: rgba(79, 247, 199, 0.933);;
    color: grey;
    border: none;
    cursor: pointer;
    padding: 0;
    font-weight: 1000;
    display: inline-block;
    font-size: medium;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    white-space: nowrap;
    vertical-align: middle;
}
#Btn2
{
    border-radius: 5px;
    background-color: rgba(79, 247, 199, 0.878);;
    color: grey;
    border: none;
    cursor: pointer;
    padding: 0;
    font-weight: 1000;
    display: inline-block;
    font-size: medium;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    white-space: nowrap;
    vertical-align: middle;
}
#Btn3
{
    border-radius: 5px;
    background-color: rgba(79, 247, 199, 0.725);;
    color: grey;
    border: none;
    cursor: pointer;
    padding: 0;
    font-weight: 1000;
    display: inline-block;
    font-size: medium;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    white-space: nowrap;
    vertical-align: middle;
}
.Btn{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: medium;
    line-height: inherit;
    border: none;
}
#footer
{
    background-color: rgba(13, 193, 193, 0.853);
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#registroCorreo
{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: gray;
    font-weight: bold;
}
#correo
{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: rgba(194, 238, 231, 0.903);
    border-radius: 5px;
    color: white;
}
#BtnCorreo
{
    border-radius: 5px;
    background-color: rgb(79, 216, 247);
    color: grey;
    border: none;
    cursor: pointer;
    padding: 0;
    font-weight: 1000;
    display: inline-block;
    font-size: medium;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    white-space: nowrap;
    vertical-align: middle;
}